body {
    background-color: lightyellow;
    color: black;
    font-size: 18px;
    text-align: center;
}

h1 {
    color: white;
    background-color: darkred;
    font-size: 40px;
}

h2 {
    color: brown;
    font-size: 28px;
}

p {
    font-size: 20px;
}

a {
    color: blue;
    font-weight: bold;
}

img {
    width: 300px;
}

.menu {
    background-color: lightgreen;
}